NEXT_PUBLIC_API_BASE_URL=https://api.chefuinc.com
NEXT_PUBLIC_CHEFU_ACCOUNT_URL=https://myaccount.chefuinc.com
NEXT_PUBLIC_ALLOWED_MUZALO_ORIGINS=https://muzalo.chefuinc.com,https://music.chefuinc.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SPOTIFY_CHEFU_ARTIST_ID=07fFH9mxSS0g69Wbz8PXNn
SPOTIFY_CHEFU_ARTIST_NAME=CheFu
SPOTIFY_CHEFU_ARTIST_GENRE=Hip Hop / R&B
SPOTIFY_CHEFU_ARTIST_IMAGE=
SPOTIFY_CHEFU_ALBUM_IDS=
SPOTIFY_CHEFU_PLAYLIST_IDS=
SPOTIFY_CHEFU_TRACK_IDS=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
